<!DOCTYPE html>
<html ng-app="appModule">
<head>
    <meta charset="utf-8">
    <title>Angular Shopping Cart</title>
    <!--<link href="content/css/bootstrap/full-bootstrap.css" rel="stylesheet" type="text/css">-->
    <!--Use Full Bootstrap CDN instead-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->
    <link href="/content/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/content/css/bootstrap/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/content/css/toastr/angular-toastr.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/content/sass/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/content/sass/css/animations.css" type="text/css">
    <base href="/">
<body>
    <header>
        <nav class="navbar navbar-default">
            <!--ng-bind here is a special case to change the page title on each using the $rootScope -->
            <span class="page-title" ng-bind="title"></span>
            <ul class="navlist">
                <li>
                    <a href="/home"><span class="glyphicon glyphicon-home"></span></a>
                </li>
            </ul>
            <div class="login-container" ng-show="currentUser" ng-controller="AccountController">
                <!--<span>Logged in as:</span>-->
                <span class="currentUser">{{currentUser.email}}</span>
                <ul class="login-list">
                    <li class="login-option" ng-click="logout()">Logout?</li>
                </ul>
            </div>
            <a href="/login" class="loginNow" ng-show="!currentUser"><span>Login</span></a>
            <div class="user-actions" ng-controller="IndexController">
                <!--Normally, you want to set up a route to glue each view to one controller, but the index page is different
                because it's outside of any route, so I'm giving it access to it's own controller here to update the item count-->
                <a href="/cart" class="cart-holder">
                    <span class="cart-text">Cart</span>
                    <span class="glyphicon glyphicon-shopping-cart cart-icon " aria-hidden="false"></span>
                    <span class="badge counter animated " ng-class="{active : itemCount, bounceIn : notZero}">{{itemCount}}</span>
                </a>
                <a ng-click="getUserRoles()" class="manage-product-link" ng-controller="IndexController">
                    <span class="glyphicon glyphicon glyphicon-cog cart-icon " aria-hidden="false"></span>
                </a>
            </div>
        </nav>
    </header>
    <!-- //Use angular alerts instead!
    <div class="alert alert-success" role="alert">...</div>
    <div class="alert alert-info" role="alert">...</div>
    <div class="alert alert-warning" role="alert">...</div>
    <div class="alert alert-danger" role="alert">...</div>-->
    <div class="main">
        <!--Placeholder for other views-->
        <div ng-view class="slide"></div>
    </div>

    <!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>-->
    <script src="app/lib/angular.js"></script>
    <script src="app/lib/angular-route.js"></script>
    <script src="app/lib/angular-css.min.js"></script>
    <script src="app/lib/angular-animate.js"></script>
    <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.0.3.js"></script>-->
    <script src="app/lib/ui-bootstrap-tpls-1.0.0.js"></script>
    <script src="app/lib/angular-toastr.tpls.js"></script>
    <script src="app/test-data/productData.js"></script>
    <script src="app/config.js"></script>
    <script src="app/apiEndpoints.js"></script>
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>
    <script src="app/factories/simpleFactory.js"></script>
    <script src="app/services/accountService.js"></script>
    <script src="app/services/dataService.js"></script>
    <script src="app/services/formService.js"></script>
    <script src="app/services/shoppingCartService.js"></script>
    <script src="app/controllers/IndexController.js"></script>
    <script src="app/controllers/ProductController.js"></script>
    <script src="app/controllers/CartController.js"></script>
    <script src="app/controllers/ShippingController.js"></script>
    <script src="app/controllers/PaymentController.js"></script>
    <script src="app/controllers/ConfirmationController.js"></script>
    <script src="app/controllers/ManageProductsController.js"></script>
    <script src="app/controllers/AccountController.js"></script>
</body>
</html>