@import "/content/sass/css/products.css";

.addProductPage {
    .addProductButton {
        width: 150px;
        height: 50px;
    }

    .addProdLabel {
        width: 135px;
        margin-right: 10px;
        font-size: 14px;
    }

    .addProductContainer {
        margin-bottom: 18px;

        &.url {
            margin-bottom: 25px;
        }
    }

    #price {
        width: 70px;
    }

    #productUrl {
        width: 350px;

    }

    .addProductTitle {
        display: inline-block;
        margin-bottom: 20px;

        &.remove {
            margin-top: 30px;
        }
    }

    .thumbnail {
        text-align: right;
    }

    .deleteProductIcon {
        cursor: pointer;
        font-size: 25px;
        height: 50px;
        padding: 5px;
        position: relative;
        &:hover {
            top: -2px;
            left: 2px;
            font-size: 30px;
            color: red;
        }
    }

    .productSearch {
        display: inline-block;
        float: right;
        position: relative;
        top: 8px;
    }

    .searchText {
        opacity: .7;
        font-size: 13px;
        margin-bottom: 3px;
    }
}











