.purchase-button {
    background-color: darkgreen;
    width: 160px;
    margin-top: 18px;
}

.sd-form {
    .input-container {
        width: 400px;
    }
}

#customCardName {
    float: none;
    top: 0;
}
