@import "mixins";
//Base CSS for the index page

/*testing colors*/
html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   background: #F7F7F9;
   margin: 0 auto;
   padding: 0;
   position: relative;
}

header {
   height: 47px;
   color: white;
   position: fixed;
   width: 100%;
   text-align: center;
   z-index: 3;
}

//override bootstrap
.navbar {
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 100%;
   padding: 5px 2px 2px 15px;
   ul {
      list-style: none;
      font-size: 25px;
      padding: 0;
      display: inline-block;
   }
   a {
      font-weight: 500;
      color: white;
   }
   a:link {
      color: white;
      text-decoration: none;
      outline: none;
   }
   a:visited {
      color: white;
      text-decoration: none;
      outline: none;
   }
   a:focus {
      color: white;
      text-decoration: none;
      outline: none;
   }
   a:hover {
      color: lavender;
      text-decoration: none;
      outline: none;
      cursor: pointer;
   }
   a:active {
      color: white;
      text-decoration: none;
      outline: none;
   }

}

.loginNow {
   display: inline-block;
   opacity: 0.8;
   font-size: 12px;
   position: fixed;
   top: 15px;
   left: 47px;
   /*position: absolute;
   top: -5px;
   right: 134px;*/
}

.login-container {
 /*  @include ellipsis;*/
   display: inline-block;
   top: 16px;
   left: 48px;
   position: absolute;
   text-align: left;
   height: 17px;
   z-index: 4;
   /*position: absolute;
   top: -5px;
   right: 134px;*/
   font-size: 12px;
   /*width: 100px;
   max-width: 100px;*/
   /*width: 240px;
   max-width: 240px;*/

   &:hover {
      .login-list {
         display: block;
      }
   }

   //Login section
   .login-list {
      background-color: #415693;
      position: fixed;
      font-size: 12px;
      display: none;
      z-index: 2;
      top: 32px;
      left: 48px;
      text-align: center;
      cursor: pointer;
   }

   .login-option {
      width: 100px;
      padding: 2px;
      &:hover {
         color: orange;
      }
   }

   .currentUser {
      opacity: 0.8;
   }
}

.page-title {
   color: white;
   display: inline-block;
   font-size: 25px;
}

//override bootstrap theme
.navbar-default {
   border-radius: 0;
   border-top: 0;
   border-left: 0;
}

.navlist {
   position: absolute;
   left: 11px;
   top: 6px;
}

.user-actions {
   right: 11px;
   position: absolute;
   display: inline-block;
   a {
      cursor: pointer;
   }
}

.cart-text {
   font-size: 19px;
   margin-right: 5px;
}

.cart-icon {
   position: relative;
   top: 5px;
   font-size: 25px;
}

.user-icon {
   left: -7px;
}

.counter {
   position: relative;
   top: -12px;
   left: -12px;
   &.active {
      background: orange;
      color: white;
   }
}

.main {
   background: #F7F7F9;
   width: 94%;
   margin: 0 auto;
   min-height: 100vh;
   padding: 15px;
   padding-top: calc(46px + 16px); //46px to clear the header + whatever else
   position: relative;
}

//Required Angular fix, see https://angular-ui.github.io/bootstrap/#/pagination
.nav, .pagination, .carousel, .panel-title a {
   cursor: pointer;
}

.breadcrumb {
   position: absolute;
   right: 0;
   top: 53px;
}

ul {
   margin: 0;
   display: inline-block;
}

/* Form Input validation Styling. See https://docs.angularjs.org/guide/forms */

//Only style inputs if they have been touched (i.e the input has been blurred)
.ng-valid.ng-touched {
   //background-color: #78FA89;
}

//NOTE: Inputs must have the "required" attribute or else invalid styles won't be applied
//Only style inputs if they have been touched (i.e the input has been blurred)
.ng-invalid.ng-touched {
   background-color: #FA787E;
}

//inline input error messages
.error-message {
   font-size: 12px;
   color: red;
   position: absolute;
   top: 28px;
   left: 44px;
}

.input-container {
   position: relative;
   margin-bottom: 25px;

   &.first {
      margin-top: 25px;
   }
}

.sd-form {
   .error {
      color: red;
   }

   .errorMessage {
      margin-top: 6px;
   }

   .input-container {
      margin-bottom: 10px;
      width: 356px;
   }

   .first-input {
      margin-top: 20px;
   }

   label {
      font-weight: normal;
   }

   input[type='text'], input[type='email'], input[type='password'] {
      float: right;
      width: 190px;
      position: relative;
      top: -2px;
   }
}

//All input placeholders
::placeholder {
   opacity: .5;
}

form {
   margin-top: 18px;
}

//Needed to override toastr selector
#toast-container.toast-top-center{

   //When the container width is 100%, if covers the entire header, making the cart button unclickable while a
   //notification is visible. Change the container width to remove this issue
   width: 400px;
   left: 50%;
   margin-left: -200px;

   //All Toastr Notifications. USE .toast! Do not try a different class or animation will break.
   .toast {
      line-height: 1.3; //override bootstrap
      min-height: 46px;
      width: 400px;
      padding-top: 14px;
      padding-bottom: 7px;
      overflow: visible; //Let the text go over one line
      box-shadow: 0 2px 3px #999999;
      -webkit-box-shadow: 0 2px 3px #999999;
   }

   .toast-close-button {
      top: -7px
   }

}

//Base button styling
.sd-primary-btn {
   border-radius: 2px;
   background-color: #415693;
   height: 36px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   color: #ffffff;
   font-weight: normal;
   letter-spacing: 0.5px;
   //text-transform: uppercase;

   &.inline {
      display: inline-flex;
   }

   &:active {
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.25);
   }

   &:hover {
      opacity: .5;
   }

   &.disabled{
      color: black;
      pointer-events: none;
      cursor: not-allowed;
      opacity: .55;
      background-color: dimgrey;
   }
}

.loading-spinner {
   height: 300px;
   width: 300px;
   position: fixed;
   top: calc(50vh - 150px);
   left: calc(50% - 154px);
   z-index: 4;
}









