//Base CSS for the index page

/*testing colors*/
html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   background: #F7F7F9;
   margin: 0 auto;
   padding: 0;
   position: relative;
}

header {
   height: 47px;
   color: white;
   position: fixed;
   width: 100%;
   text-align: center;
   z-index: 3;
}

//override bootstrap
.navbar {
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 100%;
   padding: 5px 2px 2px 15px;
   ul {
      list-style: none;
      font-size: 25px;
      padding: 0;
      display: inline-block;
   }
   a {
      font-weight: 500;
      color: white;
   }
   a:link {
      color: white;
      text-decoration: none;
      outline: none;
   }
   a:visited {
      color: white;
      text-decoration: none;
      outline: none;
   }
   a:focus {
      color: white;
      text-decoration: none;
      outline: none;
   }
   a:hover {
      color: lavender;
      text-decoration: none;
      outline: none;
      cursor: pointer;
   }
   a:active {
      color: white;
      text-decoration: none;
      outline: none;
   }
}

.page-title {
   color: white;
   display: inline-block;
   font-size: 25px;
}
//override bootstrap theme
.navbar-default {
   border-radius: 0;
   border-top: 0;
   border-left: 0;
}

.navlist
{
   position:absolute;
   left: 11px;
   top: 6px;
}

.cart-holder
{
   display: inline-block;
   float: right;
   left: -20px;
   position: relative;
   cursor: pointer;
}

.cart-text
{
   font-size: 19px;
   margin-right: 5px;
}

.cart-icon
{
   position: relative;
   top: 5px;
   font-size: 25px;
}

.counter
{
   position: relative;
   top: -12px;
   left: -12px;
   &.active
   {
      background: orange;
      color: white;
   }
}

.main {
   background: #F7F7F9;
   width: 94%;
   margin: 0 auto;
   min-height: 100vh;
   padding: 15px;
   padding-top: calc(46px + 12px); //46px to clear the header + whatever else
   position: relative;
}

//Required Angular fix, see https://angular-ui.github.io/bootstrap/#/pagination
.nav, .pagination, .carousel, .panel-title a {
   cursor: pointer;
}

.breadcrumb
{
   position: absolute;
   right: 0;
   top: 53px;
}

ul {
   margin: 0;
   display: inline-block;
}

/* Form Input validation Styling. See https://docs.angularjs.org/guide/forms */


//Only style inputs if they have been touched (i.e the input has been blurred)
.ng-valid.ng-touched {
   //background-color: #78FA89;
}

//NOTE: Inputs must have the "required" attribute or else invalid styles won't be applied
//Only style inputs if they have been touched (i.e the input has been blurred)
.ng-invalid.ng-touched {
   background-color: #FA787E;
}

//inline input error messages
.error-message {
   font-size: 12px;
   color: red;
   position: absolute;
   top: 28px;
   left: 44px;
}

.input-container {
   position: relative;
   margin-bottom: 25px;

   &.first
   {
      margin-top: 25px;
   }
}

form {
   margin-top: 18px;
}













