<h3>Please login to continue</h3>
<div class="input-container login-first">
    <label for="email">Email: </label>
    <input id="email" class="login-input" ng-model="user.email" name="email" type="text" placeholder="email" title="email" required autofocus/>
</div>
<div class="input-container">
    <label for="password">Password: </label>
    <input id="password" class="login-input" ng-model="user.password" name="password" type="password" placeholder="password" title="password" required/>
</div>
<div class="input-container">
    <label for="confirmPassword">Confirm Password: </label>
    <input id="confirmPassword" ng-keyup="$event.keyCode == 13 && login()" class="login-input" ng-model="user.confirmPassword" name="confirmPassword" type="password" placeholder="confirmPassword" title="confirmPassword" required/>
</div>
<div class="login-submit-btn login sd-primary-btn" ng-click="login()">
    <span>Login</span>
</div>
<a href="/register">
    <div class="login-submit-btn register sd-primary-btn register-link">
        <span>Register</span>
    </div>
</a>
<div class="login-submit-btn logout sd-primary-btn" ng-click="logout()" ng-show="currentUser">
    <span>Logout</span>
</div>
<div class="errorMessage" ng-show="showError">
    <span class="error">The Passwords do not match</span>
</div>
<div class="errorMessage" ng-show="registerForm.password.$invalid && registerForm.password.$touched">
    <span class="error" ng-show="registerForm.password.$error.required && !registerForm.password.$error.pattern && !noMatch()">Password is required</span>
</div>