<img src="../content/images/loadingIcon.gif" class="loading-spinner" ng-show="isLoading"/>
<div class="addUserPage" ng-show="!isLoading">
    <h3 class="addUserTitle text-primary">User List</h3>
    <ol class="user-list">
        <li class="user-item" ng-repeat="user in usersList">
            <span>{{user.email}} </span>
            <span class="user-role">({{user.roleType}})</span>
            <div class="action-buttons">
                <div ng-class="{'disabled': isCurrentUser(user) || user.roleType=='admin'}" class="user-manage-button make-admin sd-primary-btn" ng-click="makeAdmin(user)">
                    <span>Make Admin</span>
                </div>
                <div ng-class="{'disabled': isCurrentUser(user)}" class="user-manage-button remove-user sd-primary-btn" ng-click="removeUser(user)">
                    <span>Remove User</span>
                </div>
            </div>
        </li>
    </ol>
</div>