<p class="productText">Available products</p>
<div class="container product-container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4" ng-repeat="product in productList">
            <div class="thumbnail">
                <div class="image-holder">
                    <img class="product-image" ng-src="{{product.img}}" alt="No Image available"/>
                </div>
                <div class="caption">
                    <h4 class="prod-name">{{product.name}}</h4>
                    <span class="prod-price">Price:</span>
                    <span>{{product.price | currency}}</span>
                    <div><button class="add-button btn btn-primary" ng-click="addToCart(product)" ng-disabled="alreadyInCart(item)">Add to Cart</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
