<h4>View 2</h4>
<p>Use your browser back button or click below</p>
<ol class="breadcrumb">
    <li><a href="">Home</a></li>
    <li><a href="">Library</a></li>
    <li class="active">Data</li>
</ol>

<!--badges-->
<a href="#">Inbox <span class="badge">42</span></a>

<button class="btn btn-primary" type="button">
    Messages <span class="badge">4</span>
</button>
<a href="#/view1">Go Back {{whatever}}</a>

<!-- //Use angular alerts instead!
<div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning" role="alert">...</div>
<div class="alert alert-danger" role="alert">...</div>-->

<!--USE some of bootstrap's built in icons! See shopping cart-->
