.load-animation.ng-enter {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}
.load-animation.ng-enter {
  opacity: 0;
}
.load-animation.ng-enter-active {
  opacity: 1;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.productText {
  font-size: 18px;
  margin-top: 15px;
}
.product-container {
  width: 100%;
  padding: 0;
}
.products {
  list-style: none;
  padding: 0;
  margin: 0;
}
.searchText {
  font-size: 18px;
  margin-bottom: 5px;
}
.caption {
  text-align: center;
}
.image-holder {
  /* border: 1px solid teal;*/
  width: 99%;
  height: 150px;
  text-align: center;
}
.add-button {
  margin-top: 8px;
}
.product-image {
  max-width: 100%;
  height: 100%;
}
.product-image[disabled] {
  opacity: .5;
}
.prod-price {
  font-size: 15px;
}
.prod-name {
  margin-top: 3px;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.searchInput {
  padding: 3px;
  padding-left: 7px;
}
