/*testing colors*/
html {
  background: black;
}
body {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  padding: 0;
  background: white;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
ul {
  margin: 0;
}
.important {
  font-weight: bold;
}
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.black {
  color: black;
}
.bold {
  font-weight: bold;
}
